{#
/**
 * @file billing_invoice.html.twig
 * Default theme implementation to present Billing invoice data.
 *
 * This template is used when viewing Billing invoice pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_billing_invoice()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('billing_invoice') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
