{#
/**
 * @file billing_purchase.html.twig
 * Default theme implementation to present Billing purchase data.
 *
 * This template is used when viewing Billing purchase pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_billing_purchase()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('billing_purchase') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
